// * Colors:

$white:       #fff;
$gray:        #333333;
$gray-second: #4f4f4f;
$map:         #f2f2f2;
$footer-bg:   #333333;
$silver-line: #fefefe;
$line: rgba(189, 189, 189, 0.57);
$btn-grad: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);

// * Size:

$base:  1.4rem;
$s48:   4.8rem;
$s36:   3.6rem;
$s24:   2.4rem;
$s20:   2rem;
$s18:   1.8rem;
$s16:   1.6rem;
$s12:   1.2rem;

// * Fonts:

$font: 'Roboto', sans-serif;

// * Media:

$hd:      1920px;
$laptop:  1200px;
$tablet:  768px;
$phone:   320px;
//$m414: 414px;
//$m375: 375px;
//$m320: 320px;