.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray;
  padding: 9rem 15rem 7rem;

  &__logo {
    color: $silver-line;
  }

  &__nav {
    width: 40.4rem;
    &-list {
      display: flex;
    }
    &-item {
      margin-right: 7.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      color: $silver-line;
    }
  }
}