.header {
  height: 9.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $silver-line;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  padding: 0 15rem;
  margin: 0 auto;
  transition: all .3s ease-in-out;

  &__logo {
    color: $gray;
    transition: all .3s ease-in-out;
  }

  &__nav {
    width: 57.3rem;

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .light-mode-col::after {
      background: $gray;
    }

    .dark-mode-col::after {
      background: $silver-line;
    }

    &-link {
      position: relative;
      color: $gray;
      transition: all .3s ease-in-out;

      &:hover {
        font-weight: 900;
      }

      &::after {
        background: none repeat scroll 0 0 transparent;
        background: $gray;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transition: width 0.3s ease-in-out 0s, left 0.3s ease-in-out 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &__toggle {
    height: 30px;
    width: 54px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    background: $map;
    transition: all .3s ease-in-out;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $white;
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
      transition: all .3s cubic-bezier(.5, .1, .75, 1.35);
    }

    &:checked {
      background: $gray-second;

      &:after {
        transform: translateX(22px);
        background: #1B1B1B;
        box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
      }
    }
  }

}