<section class="first-screen">
  <div class="container">
    <h1 class="first-screen__title">Watch your favorite animal online</h1>
    <button class="first-screen__btn main__btn">watch online</button>
  </div>
  <ul class="first-screen__list">
    <li class="first-screen__list-item">
      <a href="#" class="first-screen__list-link"
        ><img src="./assets/images/instagram-light.svg" alt="instagram"
      /></a>
    </li>
    <li class="first-screen__list-item">
      <a href="#" class="first-screen__list-link"
        ><img src="./assets/images/twitter-light.svg" alt="twitter"
      /></a>
    </li>
    <li class="first-screen__list-item">
      <a href="#" class="first-screen__list-link"
        ><img src="./assets/images/vk-light.svg" alt="vk"
      /></a>
    </li>
    <li class="first-screen__list-item">
      <a href="#" class="first-screen__list-link"
        ><img src="./assets/images/youtube-light.svg" alt="youtube"
      /></a>
    </li>
  </ul>
</section>
