<section class="works">
  <div class="container works__first">
    <div class="works__wrapper">
      <h2 class="main__title">How it works?</h2>
      <p class="works__text">
        As a voice for wildlife, we are devastated by the impact of the 2020
        Australian bushfires on precious species and their habitat, and we are
        determined to assist in all aspects, including providing veterinary
        support and raising much-needed emergency funds. Zoo Online saves
        wildlife and inspires everyone to make conservation a priority in their
        lives. Animals have the right to a pain-free and happy life. They have
        equal claim to the resources of this planet, and deserve a life of
        dignity and compassion.As a voice for wildlife, we are devastated by the
        impact of the 2020 Australian bushfires on precious species and their
        habitat.
      </p>
      <img class="works__img" src="./assets/images/works-1.jpg " alt="Pic" />
      <button class="works__btn main__btn">watch online</button>
    </div>
  </div>
  <div class="works__wrapp">
    <div class="container">
      <div class="works__cards">
        <div class="works__cards-item">
          <img
            class="works__cards-img"
            src="./assets/images/cards-1.svg"
            alt="Icon"
          />
          <h3 class="works__cards-title">What inspires us?</h3>
          <p class="works__cards-text">
            As a voice for wildlife, we are devastated by the impact of the 2020
            Australian bushfires on precious species and their habitat, and we
            are determined to assist in all aspects.
          </p>
        </div>

        <div class="works__cards-item">
          <img
            class="works__cards-img"
            src="./assets/images/cards-2.svg"
            alt="Icon"
          />
          <h3 class="works__cards-title">Our mission</h3>
          <p class="works__cards-text">
            Zoo Online saves wildlife and inspires everyone to make conservation
            a priority in their lives.
          </p>
        </div>

        <div class="works__cards-item">
          <img
            class="works__cards-img"
            src="./assets/images/cards-3.svg"
            alt="Icon"
          />
          <h3 class="works__cards-title">What we believe in?</h3>
          <p class="works__cards-text">
            Animals have the right to a pain-free and happy life. They have
            equal claim to the resources of this planet, and deserve a life of
            dignity and compassion.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
