<header class="header">
  <a href="#" class="header__logo main__logo ">
    <span class="main__logo-sup">zoo</span>
    <span class="main__logo-sub">online</span>
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="#" class="header__nav-link main__nav-link">about</a></li>
      <li class="header__nav-item"><a href="#" class="header__nav-link main__nav-link">zoos</a></li>
      <li class="header__nav-item"><a href="#" class="header__nav-link main__nav-link">map</a></li>
      <li class="header__nav-item"><a href="#" class="header__nav-link main__nav-link">contact us</a></li>
      <li class="header__nav-item"><a href="#" class="header__nav-link main__nav-link">design</a></li>
    </ul>
  </nav>
  <input type="checkbox" class="header__toggle">
</header>
