.pets {
  background: $white-light;
  padding: 5rem 1rem;

  @include media($tablet) {
    padding: 10rem 2rem;
  }

  @include media($lg) {
    padding: 10rem 0rem;
  }

  &__title {
    text-align: center;
    color: $gray;
  }

  // * wrapper

  &__wrapper {
    display: flex;

    &-card {
      max-width: 274px;
      height: 400px;

      img {
        display: block;
        width: 270px;
        height: 100%;
      }
    }
  }
}
