<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <div class="cssload-loader" id="preload">
      <div class="cssloader-wrapper">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
      </div>
    </div>

    {{> header }} {{> first-screen }} {{> works }} {{> pets}} {{> footer }}

    <script src="assets/js/app.js"></script>
  </body>
</html>
